* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #eee;
}

li {
	list-style: none;
}

.nav-bar {
	display: flex;
	justify-content: center;
}

.login-form {
	display: flex;
	align-content: center;
	flex-direction: column;
	width: 350px;
	height: 460px;
	color: #000;
	background: #e4e4e4;
	padding: 2em;
	z-index: 2;
	border-radius: 3px;
	border: solid 2px #bfbfbf;
}

.login-form input::placeholder {
	color: #cecece;
}

.home-section {
	background-color: #cccccc;
	padding: 2em;
	min-height: 100vh;
}

.register-section {
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #cccccc;
	padding: 2em;
	min-height: 100vh;
}

/* Utilities */
.hidden {
	display: none;
}

.center {
	margin: auto;
}

.tb30 {
	margin: 140px 0;
}

/* ADMIN HTML */
.form-container {
	display: flex;
	justify-content: center;
	margin-top: 300px;
}
