body {
    background: #ccc;
}
.hidden {
    display: none;
}

form {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 20%;
    /* background:src('..\assets\images\1_o0SR0QrsG8mr8Evrhpvi5Q.png'); */

    position: absolute;
    background: #222222;
}

.titulo{
    color:white;
}
.asistir{
    color:white;
}
.hidden {
    display: none;
    z-index: 2;
}

form {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 19%;
    background: darkcyan;
    color: white;
    padding: 2em;
    z-index: 2;
}

.button-registrarse {
    padding: 1em 2em;
    background-color: darkblue;
    color: white;
    z-index: 2;
}
.fondo{
    z-index: 0;
    width: 100%;
}

.seccion_1{
    position: absolute;
    background-color: black;
    color: white;
    padding: 2em;
    z-index: 2;
}

.button-registrarse {
    padding: 1em 2em;
    background-color: darkblue;
    color: white;
    z-index: 2;
}
.fondo{
    z-index: 0;
    width: 100%;
}
